[{:environment_name=>"production-12345678", :environment_id=>"e-12345678", :application_name=>"project42", :version_label=>"", :solution_stack_name=>"64bit Amazon Linux 2016.03 v2.1.2 running Ruby 2.2 (Passenger Standalone)", :endpoint_url=>"", :cname=>"", :date_created=>"UTC", :date_updated=>"UTC", :status=>"Ready", :abortable_operation_in_progress=>false, :health=>"Green", :tier=>{:name=>"WebServer", :type=>"Standard", :version=>" "}, :environment_links=>[]}]
